name: Windows RDP via Tailscale

on:
  workflow_dispatch:

jobs:
  rdp-access:
    runs-on: windows-2009
    timeout-minutes: 360
    
    steps:
      - name: Connect to Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TAILSCALE_AUTHKEY }}
          oauth-secret: ${{ secrets.TAILSCALE_AUTHKEY }}
          tags: tag:ci
      
      - name: Enable Remote Desktop
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        
      - name: Set RDP Password
        run: |
          $Password = "${{ secrets.RDP_PASSWORD }}"
          net user runneradmin $Password
      
      - name: Get Tailscale IP
        run: |
          $IP = (tailscale ip -4)
          Write-Host "Tailscale IP: $IP"
          Write-Host "Username: runneradmin"
      
      - name: Keep Alive
        run: Start-Sleep -Seconds 21600
