    name: Deploy with Tailscale

    on: [push]

    jobs:
      deploy:
        runs-on: windows-latest
        steps:
          - name: Checkout repository
            uses: actions/checkout@v4

          - name: Connect to Tailscale
            uses: tailscale/github-action@v2
            with:
              oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
              oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
              tags: tag:github-actions-runner # Optional: Apply tags for ACLs
