name: Headless Go + Snap + Tailscale

on:
  workflow_dispatch:
  
  jobs:
     setup:
       runs-on: ubuntu-22.04
       container:
       image: debian:12
       options: --user root
    
    env:
      USERNAME: "dolvin"
      PASSWORD: "whatsapp2"
      TALESCALE_AUTH_KEY: ${{ secrets.TALESCALE_AUTH_KEY }}

    steps:
      - uses: actions/checkout@v4
      - name: prepare
        run: |
          apt update && apt install -y git wget curl
          # langsung install apa aja tanpa sudo

      - name: Create User
        run: |
          U="${{ env.USERNAME }}"
          P="${{ env.PASSWORD }}"
          sudo useradd -m -s /bin/bash "$U" || true
          echo "$U:$P" | sudo chpasswd
          sudo usermod -aG sudo "$U" || true

      - name: Install Snap
        run: |
          

      

      - name: Install Tailscale
        run: |
          curl -fsSL https://tailscale.com/install.sh | sh

      - name: Start Tailscale
        run: |
          sudo tailscaled & sleep 3
          sudo tailscale up --authkey="${{ env.TALESCALE_AUTH_KEY }}" --hostname=runner-${{ github.run_id }}
          tailscale ip -4

      - name: Keep Alive (90 days loop)
        run: |
          echo "Runner is alive. Press Cancel workflow to stop."
          while true; do sleep 300; done
